.buttons_box > button{
    cursor: pointer;
    width: 90%;
    max-width: 314px;
    min-height: 48px;

    background: var(--color-brand-3);
    border: 2px solid var(--color-brand-3);
    border-radius: 20px;

    color: var(--color-grey-4);
    font-weight: 600;
    position: relative;
}
.buttons_box > button:hover{
    background: var(--color-brand-3-hover);
    border: 2px solid var(--color-brand-3-hover);
}
.buttons_box > button:focus{
    background: var(--color-brand-3-hover);
    border: 3px solid var(--color-brand-3-focus);
}
.buttons_box > button > div{
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
    object-fit: cover;
}
.buttons_box > button > div > img{
    width: 70%;
    height: 70%;    
}